.commentCard::-webkit-scrollbar {
  width: 7px;
}

.commentCard::-webkit-scrollbar-thumb {
   background-color: #1E1E1E;
   border-radius: 5px;   
}


/* .commentCard::-webkit-scrollbar-track {
   position: relative;
   left:8px;
} */

.commentCard {
   border-radius: 5px;
   background-color: rgb(209, 207, 207);
}

.commentSection {
   position:relative;
   overflow: scroll;
}

.title {
   position: absolute;
   top:-1.7rem;
   left:1px;
   font-family: dosis;
   font-weight: 500;
   letter-spacing: 2.22px;
   font-size: 17px;
   line-height:20.22px;
}

.title span {
   font-size: 12px;
   letter-spacing: 2px;
   color:#696060;
}