.figure {
   /* background-color: red; */
   display:inline-block;
   position:relative;
}

.polygon {
  border-radius: 50%;
  width:100%;
}

.userImg {
    position: absolute;
    top:30%;
    right:30%
}